.env.local
/playwright-report/
/playwright/.cache/
/test-results/
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.docker-sync/
