version: '3.6'
services:
  keycloak:
    container_name: rems_dev_keycloak
    command: 'start-dev --import-realm'
    ports:
      - '8180:8080'
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - DB_VENDOR=h2
    volumes:
      - rems_dev_keycloak-data:/opt/keycloak/data/
      - '../test-ehr/src/main/resources/ClientFhirServerRealm.json:/opt/keycloak/data/import/ClientFhirServerRealm.json'
    build:
      context: ../test-ehr
      dockerfile: Dockerfile.keycloak

  test-ehr:
    container_name: rems_dev_test-ehr
    ports:
      - '8080:8080'
      - "8081:8081"
    build:
      context: ../test-ehr
    environment:
      - oauth_token=http://host.docker.internal:8180/realms/ClientFhirServer/protocol/openid-connect/token
    extra_hosts:
      - "host.docker.internal:host-gateway"

  pims_remsadmin_mongo:
    image: mongo
    container_name: rems_dev_pims-remsadmin-mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo-user
      MONGO_INITDB_ROOT_PASSWORD: mongo-password
    volumes:
      - rems_dev_pims_remsadmin_mongo:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 40s

  request-generator:
    build:
      context: ../request-generator
      args:
        - VITE_URL=http://localhost:3000
    container_name: rems_dev_request-generator
    environment:
      - REACT_APP_EHR_SERVER_TO_BE_SENT_TO_REMS_ADMIN_FOR_PREFETCH=http://host.docker.internal:8080/test-ehr/r4
    ports:
      - "3000:3000"
      - "3001:3001"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  rems-smart-on-fhir:
    build:
      context: ../rems-smart-on-fhir
    container_name: rems_dev_rems-smart-on-fhir
    ports:
      - "4040:4040"
      - "4041:4041"

  rems-administrator:
    build:
      context: '../rems-admin'
      args:
        - PORT=8090
    container_name: rems_dev_rems-administrator
    ports:
      - "8090:8090"
      - "8091:8091"
    environment:
      VSAC_API_KEY: ${VSAC_API_KEY}
      MONGO_URL: mongodb://rems-user:pass@pims_remsadmin_mongo:27017
      SERVER_NAME: 'CodeX REMS Administrator Prototype #1'
    depends_on:
      pims_remsadmin_mongo:
        condition: service_healthy

  rems-administrator2:
    build:
      context: '../rems-admin'
      args:
        - PORT=8095
    container_name: rems_dev_rems-administrator2
    ports:
      - "8095:8095"
      - "8096:8096"
    environment:
      VSAC_API_KEY: ${VSAC_API_KEY}
      MONGO_DB_NAME: remsadmin2
      MONGO_URL: mongodb://rems-user2:pass@pims_remsadmin_mongo:27017
      SERVER_NAME: 'CodeX REMS Administrator Prototype #2'
      PORT: 8095
    depends_on:
      pims_remsadmin_mongo:
        condition: service_healthy

  pims:
    build:
      context: ../pims
    container_name: rems_dev_pims
    ports:
      - "5050:5050"
      - "5051:5051"
    environment:
      REMS_ADMIN_FHIR_URL: http://rems-administrator:8090/4_0_0
      MONGO_URL: mongodb://pims_remsadmin_mongo:27017/pims
      EHR_RXFILL_URL: http://host.docker.internal:8080/test-ehr/script/rxfill
      INTERMEDIARY_FHIR_URL: http://rems-intermediary:3003/4_0_0
      REMS_ADMIN_NCPDP: http://rems-administrator:8090/ncpdp/script
    depends_on:
      pims_remsadmin_mongo:
        condition: service_healthy

  rems-intermediary:
    build:
      context: '../rems-intermediary'
    container_name: rems_dev_rems-intermediary
    environment:
      VITE_AUTH: http://keycloak:8080
      MONGO_URL: mongodb://intermediary-user:pass@pims_remsadmin_mongo:27017
      REMS_ADMIN_HOOK_PATH: http://rems-administrator:8090/cds-services/rems-
      REMS_ADMIN_FHIR_PATH: http://rems-administrator:8090/4_0_0
    ports:
      - "3003:3003"
    depends_on:
      pims_remsadmin_mongo:
        condition: service_healthy

volumes:
  rems_dev_keycloak-data:
  rems_dev_pims_remsadmin_mongo:

