version: '3.6'
services:
  keycloak:
    container_name: rems_dev_keycloak
    command: 'start-dev --import-realm'
    ports:
      - '8180:8080'
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - DB_VENDOR=h2
    volumes:
      - rems_dev_keycloak-data:/opt/keycloak/data/
      - '../test-ehr/src/main/resources/ClientFhirServerRealm.json:/opt/keycloak/data/import/ClientFhirServerRealm.json'
    build:
      context: ../test-ehr
      dockerfile: Dockerfile.keycloak

  test-ehr:
    container_name: rems_dev_test-ehr
    ports:
      - '8080:8080'
      - "8081:8081"
    build:
      context: ../test-ehr
      dockerfile: Dockerfile.dev
    environment:
      - oauth_token=http://host.docker.internal:8180/realms/ClientFhirServer/protocol/openid-connect/token
    volumes:
      - rems_dev_test-ehr-sync:/test-ehr:nocopy #  nocopy is important
      - rems_dev_test-ehr-gradle:/test-ehr/.gradle
      - rems_dev_test-ehr-bin:/test-ehr/bin
      - rems_dev_test-ehr-build:/test-ehr/build
      - rems_dev_test-ehr-target:/test-ehr/target
    extra_hosts:
      - "host.docker.internal:host-gateway"

  pims_remsadmin_mongo:
    image: mongo
    container_name: rems_dev_pims-remsadmin-mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: rems-admin-pims-root
      MONGO_INITDB_ROOT_PASSWORD: rems-admin-pims-password
    volumes:
      - rems_dev_pims_remsadmin_mongo:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

  request-generator:
    build:
      context: ../request-generator
      dockerfile: Dockerfile.dev
    container_name: rems_dev_request-generator
    environment:
      - REACT_APP_EHR_SERVER_TO_BE_SENT_TO_REMS_ADMIN_FOR_PREFETCH=http://host.docker.internal:8080/test-ehr/r4
    ports:
      - "3000:3000"
      - "3001:3001"
    volumes:
      - rems_dev_request-generator-sync:/home/node/app/request-generator:nocopy #  nocopy is important
      - rems_dev_request-generator-nodeModules:/home/node/app/request-generator/node_modules
      - rems_dev_request-generator-databaseData:/home/node/app/request-generator/databaseData
      - rems_dev_request-generator-build:/home/node/app/request-generator/build
      - rems_dev_request-generator-logs:/home/node/app/request-generator/logs
    extra_hosts:
      - "host.docker.internal:host-gateway"

  rems-smart-on-fhir:
    build:
      context: ../rems-smart-on-fhir
      dockerfile: Dockerfile.dev
    container_name: rems_dev_rems-smart-on-fhir
    ports:
      - "4040:4040"
      - "4041:4041"
    volumes:
      - rems_dev_rems-smart-on-fhir-sync:/home/node/app/rems-smart-on-fhir:nocopy #  nocopy is important
      - rems_dev_rems-smart-on-fhir-nodeModules:/home/node/app/rems-smart-on-fhir/node_modules

  rems-administrator:
    build:
      context: '../rems-admin'
      dockerfile: Dockerfile.dev
    container_name: rems_dev_rems-administrator
    ports:
      - "8090:8090"
      - "8091:8091"
    environment:
      VSAC_API_KEY: ${VSAC_API_KEY}
      MONGO_URL: mongodb://rems-user:pass@pims_remsadmin_mongo:27017
    volumes:
      - rems_dev_rems-admin-sync:/rems-admin:nocopy #  nocopy is important
      - rems_dev_rems-admin-nodeModules:/rems-admin/node_modules
      - rems_dev_rems-admin-logs:/rems-admin/logs

  rems-administrator2:
    build:
      context: '../rems-admin'
      dockerfile: Dockerfile.dev
    container_name: rems_dev_rems-administrator2
    ports:
      - "8095:8095"
      - "8096:8096"
    environment:
      VSAC_API_KEY: ${VSAC_API_KEY}
      MONGO_DB_NAME: remsadmin2
      MONGO_URL: mongodb://rems-user:pass@pims_remsadmin_mongo:27017
      PORT: 8095
    volumes:
      - rems_dev_rems-admin2-sync:/rems-admin2:nocopy #  nocopy is important
      - rems_dev_rems-admin2-nodeModules:/rems-admin2/node_modules
      - rems_dev_rems-admin2-logs:/rems-admin2/logs

  pims:
    build:
      context: ../pims
      dockerfile: Dockerfile.dev
    container_name: rems_dev_pims
    ports:
      - "5050:5050"
      - "5051:5051"
    environment:
      REMS_ADMIN_FHIR_URL: http://rems-administrator:8090/4_0_0
      MONGO_URL: mongodb://pims_remsadmin_mongo:27017/pims
      EHR_RXFILL_URL: http://host.docker.internal:8080/test-ehr/script/rxfill
    volumes:
      - rems_dev_pims-sync:/home/node/app:nocopy
      - rems_dev_pims-nodeModules:/home/node/app/frontend/node_modules
      - rems_dev_pims-backend-nodeModules:/home/node/app/backend/node_modules
      - rems_dev_pims-backend-dist:/home/node/app/backend/dist

  rems-intermediary:
    build:
      context: '../rems-intermediary'
      dockerfile: Dockerfile.dev
    container_name: rems_dev_rems-intermediary
    ports:
      - "3003:3003"
    volumes:
      - rems_dev_rems-intermediary-sync:/rems-intermediary:nocopy #  nocopy is important
      - rems_dev_rems-intermediary-nodeModules:/rems-intermediary/node_modules
      - rems_dev_rems-intermediary-logs:/rems-intermediary/logs

volumes:
  rems_dev_test-ehr-sync:
    external: true
  rems_dev_request-generator-sync:
    external: true
  rems_dev_rems-admin-sync:
    external: true
  rems_dev_rems-admin2-sync:
    external: true
  rems_dev_pims-sync:
    external: true
  rems_dev_rems-smart-on-fhir-sync:
    external: true
  rems_dev_rems-intermediary-sync:
    external: true

  rems_dev_keycloak-data:
  rems_dev_pims_remsadmin_mongo:
  rems_dev_rems-intermediary-mongo:
  rems_dev_test-ehr-gradle:
  rems_dev_test-ehr-bin:
  rems_dev_test-ehr-build:
  rems_dev_test-ehr-target:
  rems_dev_crd-resources-build:
  rems_dev_request-generator-nodeModules:
  rems_dev_request-generator-databaseData:
  rems_dev_request-generator-build:
  rems_dev_request-generator-logs:
  rems_dev_pims-logs:
  rems_dev_pims-nodeModules:
  rems_dev_pims-backend-nodeModules:
  rems_dev_pims-backend-dist:
  rems_dev_rems-admin-nodeModules:
  rems_dev_rems-admin-logs:
  rems_dev_rems-admin2-nodeModules:
  rems_dev_rems-admin2-logs:
  rems_dev_rems-smart-on-fhir-nodeModules:
  rems_dev_rems-smart-on-fhir-logs:
  rems_dev_rems-intermediary-nodeModules:
  rems_dev_rems-intermediary-logs:


